<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <title>New user</title>
    <style>
        table {
            border-collapse: collapse;
        }
        td, th {
            padding: 5px;
            border: 1px solid black;
        }
    </style>
</head>
<body>

<form th:method="POST" th:action="@{/users}" th:object="${user}">
    <div>
        <label for="name">First Name</label>
        <input type="text" th:field="*{firstName}" id="name"/>
        <br>
        <label for="lastname">Last Name</label>
        <input type="text" th:field="*{lastName}" id="lastname"/>
        <br>
        <label for="email">Email</label>
        <input type="text" th:field="*{email}" id="email"/>
        <br>
        <input type="submit" value="Add Person"/>
    </div>
</form>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Lastname</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getFirstName()}"></td>
        <td th:text="${user.getLastName()}"></td>
        <td th:text="${user.getEmail()}"></td>

    </tbody>
</table>

</body>
</html>